//Variables 

$color-feb: white;
$color-eat: #607d8b;
$color-cocktail: #333;
$color-etc: #2793e6;
$color-text: grey;
$color-grey: #f1f1f1;

$font-size:16px;
$line-height:$font-size * 1.6;

$h1-size: $font-size *2;
$h2-size: $font-size * 1.6;
$h3-size: $font-size * 1.4;
$h4-size: $font-size *1.2;

$image-path: '../assets/img/'; 

$font-brand: 'lato', sans-serif;
$font-offbrand: 'Questrial', sans-serif;

$font-weight-light:100;
$font-weight-normal:400;
$font-weight-bold:700;